<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dict">
            <h2><span jhiTranslate="alainApp.dict.detail.title">Dict</span> {{dict.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="alainApp.dict.name">Name</span></dt>
                <dd>
                    <span>{{dict.name}}</span>
                </dd>
                <dt><span jhiTranslate="alainApp.dict.type">Type</span></dt>
                <dd>
                    <span>{{dict.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dict', dict.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
